:root {
    --title-color: #2E2F42;
    --logo-color: #4D5AE5;
    --text-color: #434455;
    --button-color: #F4F4FD;
}

body {
    font-family: 'Roboto', sans-serif;
}

.list {
    list-style: none;
}

.link {
    text-decoration: none;
}

.visually-hidden {
    position: absolute;
    width: 1px;
    height: 1px;
    margin: -1px;
    border: 0;
    padding: 0;
    white-space: nowrap;
    clip-path: inset(100%);
    clip: rect(0 0 0 0);
    overflow: hidden;
}

.section-title {
    font-family: 'Roboto', sans-serif;
    font-weight: 700;
    font-size: 36px;
    line-height: 1.11;
    text-align: center;
    letter-spacing: 0.02em;
    text-transform: capitalize;
    color: var(--title-color);
}

.top-text {
    font-family: 'Roboto', sans-serif;
    font-weight: 500;
    font-size: 20px;
    line-height: 1.2;
    letter-spacing: 0.02em;
    color: var(--title-color);
}

.section-text {
    font-family: 'Roboto', sans-serif;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
}

.title link {
    font-family: 'Raleway', sans-serif;
    font-weight: 800;
    font-size: 18px;
    line-height: 1.16;
    display: flex;
    align-items: center;
    letter-spacing: 0.03em;
    text-transform: uppercase;
    color: var(--title-color);
}

/* Header */
.header-link {
    font-weight: 500;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: var(--title-color);
}

.header-link:hover,
.header-link:focus {
    color: #404bbf;
}
.header-logo-link {
    font-family: 'Raleway', sans-serif;
    font-style: extrabold;
    font-weight: 800;
    font-size: 18px;
    line-height: 1.17;
    text-transform: uppercase;
    Align: Left;
    Vertical align: Center;
    Letter spacing: 0.03em;
    color: var(--logo-color);
}

.header-logo-studio {
    color: var(--title-color);
}
.header-address-link {
    font-family: 'Roboto', sans-serif;
    font-style: normal;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: #434455;
}

.header-address-link:hover {
    color: var(--logo-color);
}

/* Hero */
.hero { 
    background-color: var(--title-color);
}
.hero-title {
    font-family: 'Roboto', sans-serif;
    font-weight: 700;
    font-size: 56px;
    line-height: 1.07;
    text-align: center;
    letter-spacing: 0.02em;
    color: #FFFFFF;
}
.hero-btn {
    font-family: 'Roboto', sans-serif;
    font-weight: 500;
    font-size: 16px;
    line-height: 1.5;
    display: flex;
    align-items: center;
    letter-spacing: 0.04em;
    color: #FFFFFF;
    background: var(--logo-color);
    cursor: pointer;
}

/* Advantages */
.advantages {
}
.advantages-list {
}
.advantages-item {
}
.advantages-top-text {
}
.advantages-text {
    color: var(--text-color);
}

/* About */
.about {
}
.about-title {
}
.about-list {
}
.about-item {
}

/* Team */
.team {
background-color: var(--button-color);
}
.team-title {
    
}
.team-list {
}
.team-item {
background-color: #FFFFFF}
.team-top-text {
    text-align: center;
}
.team-text {
    text-align: center;
    color: var(--text-color);
}
 
/* Hero-portfolio-btn */
.hero-portfolio-btn {
    font-family: 'Roboto', sans-serif;
    font-weight: 500;
    font-size: 16px;
    line-height: 1.5;
    align: center 
    Vertical align: Center 
    display: flex;
    letter-spacing: 0.04em;
    color: var(--logo-color);
    background-color: var (--button-color);
    cursor: pointer;
}
.hero-portfolio-link:hover,
.header-portfolio-link:focus {
    background-color: #404BBF;
}


/* Footer */
.footer {
    background-color: var(--title-color);
}
.footer-text {
    color: var(--button-color);
}
.footer-logo-link {
    font-family: 'Raleway', sans-serif;
    font-style: extrabold;  
    font-weight: 800;
    font-size: 18px;
    line-height: 1.17;
    text-transform: uppercase;
    align: Left; 
    Vertical align: Center; 
    Letter spacing: 0.03em;
    color: var(--logo-color);
}
.footer-logo-studio {
    color: var(--button-color);
}